@model COLAFHotel.Models.Room
@{
    ViewBag.Title = "Create Booking";
}

<div class="flex justify-center items-center min-h-screen bg-[var(--fifth-color)] w-full p-6">
    <div class="mt-10 bg-white shadow-lg rounded-lg w-[50%] overflow-hidden">
        <img src="@Url.Content(Model.ImageUrl)" class="w-full h-[20rem] object-cover" />
        <div class="p-4">
            <h2 class="text-2xl font-semibold text-[var(--primary-color)] mb-6">Booking</h2>
            <h1>@Model.RoomNumber</h1>
            <h2>@Model.Category</h2>
            <h2>@Model.Price</h2>
        </div>
    </div>
</div>
