<span class="relative text-red-500 text-lg font-bold">ADMIN <span class="text-lg text-white font-regular">DASHBOARD</span></span>
<a href="@Url.Action("Index", "Security")" class="relative text-white text-lg cursor-pointer
               after:content-[''] after:absolute after:-bottom-1 after:left-1/2
               after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
               hover:after:w-full hover:after:left-0">SECURITY</a>
<a href="@Url.Action("ManageUsers", "User")" class="relative text-white text-lg cursor-pointer
               after:content-[''] after:absolute after:-bottom-1 after:left-1/2
               after:w-0 after:h-0.5 after:bg-[var(--fourth-color)] after:transition-all after:duration-300
               hover:after:w-full hover:after:left-0">USERS</a>