@model IEnumerable<COLAFHotel.Models.Discount>
@{
    ViewBag.Title = "Discount Offers";
}
<h2>Discount Offers</h2>
<ul>
    @foreach (var discount in Model)
    {
        <li><strong>@discount.Name:</strong> @discount.Description</li>
    }
</ul>
