@{
    ViewBag.Title = "Home";
}
@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<COLAFHotel.Models.User>

@{
    var user = HttpContextAccessor.HttpContext?.Session.GetString("User");
    var role = HttpContextAccessor.HttpContext?.Session.GetString("Role");
}
<div class="shadow-lg">
    @if (!string.IsNullOrEmpty(role))
    {
        @if (role == "Guest")
        {
            <p class="text-4xl font-bold text-gray-800 text-center">🚧 Under Construction!<br /> Dashboard</p>
        }
        else if (role == "Admin")
        {
            @await Html.PartialAsync("Pages/_AdminDashboard", Model)
        }
    }
    else
    {
        <p class="text-red-500 font-semibold">Access Denied: Role not defined.</p>
        <script>
            setTimeout(function () {
                window.location.href = "/User/Login"; // Redirect to login page after 3 seconds
            }, 3000);
        </script>
    }
</div>