@inject IHttpContextAccessor HttpContextAccessor
@model IEnumerable<COLAFHotel.Models.User>

@{
    var user = HttpContextAccessor.HttpContext?.Session.GetString("User");
    var role = HttpContextAccessor.HttpContext?.Session.GetString("Role");
}

@{
    if (role == "Guest"){
        ViewBag.Title = "Guest";
    }
    else if (role == "Admin"){
        ViewBag.Title = "Admin";
    }
    else if (role == "Staff"){
        ViewBag.Title = "Staff";
    }
    else{
        ViewBag.Title = "Home";
    }
}
<div class="shadow-lg">
    @if (!string.IsNullOrEmpty(role))
    {
        @if (role == "Guest")
        {   
            @await Html.PartialAsync("Pages/_GuestDashboard", Model)
        }
        else if (role == "Admin")
        {
            @await Html.PartialAsync("Pages/_AdminDashboard", Model)
        }
        else if (role == "Staff"){
            @await Html.PartialAsync("Pages/_StaffDashboard", Model)
        }
    }
    else
    {
        <p class="text-red-500 font-semibold">Access Denied: Role not defined.</p>
        <script>
            setTimeout(function () {
                window.location.href = "/User/Login"; // Redirect to login page after 3 seconds
            }, 100);
        </script>
    }
</div>