@model List<COLAFHotel.Models.User>
@{
    ViewBag.Title = "Manage Users";
}

<h2 class="text-xl font-bold">Manage Users</h2>

<ul class="list-disc pl-5">
    @foreach (var user in Model)
    {
        <li class="text-gray-700">@user.username (@user.email)</li> <!-- Modify based on your model properties -->
    }
</ul>
